.lightgreen {
  color: lightgreen;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.lightblue {
  color: lightblue;
}
.skyblue {
  color: skyblue;
}
.palegreen {
  color: palegreen;
}
.darkgreen {
  color: darkgreen;
}